*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: "Trirong", serif;
}
nav{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 60px;
    border-top: .5rem solid red;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 15%;
    background: red;
    /* border: 5px solid yellow; */
}
.logo::before{
    content: "GYM ";
    color: white;
}
.logo::after{
content: " Today";
color: black;
}
ul{
    display: flex;
    align-items: center;
    height: 60px;
    /* border: 5px solid green; */
}
ul a{
    text-decoration: none;
    color: white;
    margin: 0 2rem;
    text-transform: uppercase;
    font-size: 22px;
}
ul li{
    list-style: none;

}
.intro{
  
    margin-top: 220px;
    margin-left: 150px;
    color:aliceblue;
    font-size: large;
    /* border: 5px solid green; */
}
.intro h2,p{
    display: block;
    width: 60%;
}
.intro p{
    
    padding: 8px;
}

.intro h2{
    margin: 8px;
    letter-spacing: 3px;
    text-decoration: uppercase;
}
.btn{
    padding: .6rem .8rem;
    text-transform: uppercase;
    background: red;
    color: white;
    font-size: 20px;
    border: 2px solid red;
    transition: .3s;
    cursor: pointer;
}
.btn:hover{
    background: green;
    border: 2px solid green;
}
ul a:hover{
    color: green;
}
.banner{
    background-image: url("banner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 98vh;
    
    position: fixed;
}




















body{
    background-image: url();
}